@import '~bootstrap/scss/bootstrap';


.myImageIndex {
    width: 120px;
}

.myImageThumb {
    width: 100%;
}

.myImageWrapper {
    position: relative;
    width: 250px;

    .myImageDelete {
        position: absolute;
        top: 0;
        right: 0;
    }
}